[user]
	email = lidord02@gmail.com
	name = Lidor Dublin
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /home/lidor/.config/git/.gitignore
[alias]
